.icon {
    position: sticky;
    top: 0;
    background: rgb(236, 248, 3);
    height: 45px;
    width: 100%;
    margin-top: 0;
}

.icon input {
    margin-left: 10%;
    margin-top: 8px;
    height: 25px;
    width: 40%;
}

.icon button {
    margin-left: 20px;
    height: 30px;
    width: 5%;
}

.content {
    margin-top: 5px;
}

.hh {
    text-shadow: 3px 3px 6px rgb(28, 102, 77);

}

.card img {
    height: 250px;
    width: 100%;
}

.card {
    height: 420px;
    width: 23%;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
    background-color: rgb(233, 82, 163);
    text-align: center;
    box-shadow: 3px 3px 3px 3px rgb(16, 16, 14);
}

.card:hover {

    transform: scale(0.90);

}

.card button {

    background-color: brown;
    color: azure;
}

.main {
    height: 280px;
    width: 100%;
}

.cards img {

    width: 100%;
    border-radius: 150px;
    height: 150px;
}

.cards {
    border: 1px solid;
    height: 150px;
    width: 12%;
    margin-left: 50px;
    margin-top: 10px;
    float: left;
    background-color: rgb(83, 27, 213);
    text-align: center;
    box-shadow: 2px 2px 2px 2px rgb(143, 235, 166);
    border-radius: 150px;
    /* color: rgb(60, 177, 179); */
    text-shadow: 3px 3px 6px rgb(177, 138, 21);

}

.cards :hover {
    transform: scale(1.2);

}


.flowerss {
    height: 510px;
    /* border: 2px solid red; */
    width: 100%;
}

.flower {

    height: 420px;
    width: 23%;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
    background-color: rgb(139, 250, 119);
    text-align: center;
    box-shadow: 3px 3px 3px 3px rgb(1, 53, 85);
    border-radius:350px;

}

.flower img {
    height:200px;
    width:100%;

}
.flower :hover
{
transform: scale(0.9);


}

.flower button {
    background-color: blue;
    color: rgb(132, 232, 105);
}



footer {
    height: 300px;
    width: 100%;
    /* border: 2px solid red; */
    margin-top: 20px;
    background-color: rgb(236, 118, 211);


}

.foot {
    width: 23%;
    /* border: 2px solid blue; */
    margin-top: 20px;
    float: left;
    margin-left: 10px;
    text-align: center;
    color: rgb(21, 8, 8);

}

.foot iframe {
    height: 150px;
    width: 100%;
}

.foot i {
    font-size: 30px;


}


.foot input {
    width: 80%;
    height: 20px;

}

.copy {

    margin-top: 1px;
    font-size: 20px;
    text-align: center;
    background-color: rgb(240, 93, 93);
    padding: 20px;

}

.divya h1 {
    text-align: center;
    color: rgb(3, 3, 95);
    text-shadow: 2px 2px 2px yellow;
    font-size: 40px;
}